<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>global_btn_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,286},{258,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{258,96}}</string>
                <key>sourceSize</key>
                <string>{260,96}</string>
            </dict>
            <key>global_btn_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,188},{258,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{258,96}}</string>
                <key>sourceSize</key>
                <string>{260,96}</string>
            </dict>
            <key>global_btn_lackGold_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,242},{183,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,76}}</string>
                <key>sourceSize</key>
                <string>{183,76}</string>
            </dict>
            <key>global_btn_lackGold_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,532},{211,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,78}}</string>
                <key>sourceSize</key>
                <string>{211,78}</string>
            </dict>
            <key>global_btn_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,90},{260,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,96}}</string>
                <key>sourceSize</key>
                <string>{260,96}</string>
            </dict>
            <key>global_btn_return.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,427},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>global_btn_task_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,90},{150,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,74}}</string>
                <key>sourceSize</key>
                <string>{150,74}</string>
            </dict>
            <key>global_btn_task_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,714},{148,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,74}}</string>
                <key>sourceSize</key>
                <string>{148,74}</string>
            </dict>
            <key>global_btn_trustee_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,722},{184,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,76}}</string>
                <key>sourceSize</key>
                <string>{184,76}</string>
            </dict>
            <key>global_btn_trustee_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,242},{183,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,76}}</string>
                <key>sourceSize</key>
                <string>{183,76}</string>
            </dict>
            <key>global_cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,746},{70,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,35}}</string>
                <key>sourceSize</key>
                <string>{70,35}</string>
            </dict>
            <key>global_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,674},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>global_confirm.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,636},{72,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,36}}</string>
                <key>sourceSize</key>
                <string>{72,36}</string>
            </dict>
            <key>global_exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,783},{40,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,41}}</string>
                <key>sourceSize</key>
                <string>{40,41}</string>
            </dict>
            <key>global_gold_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,844},{88,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,67}}</string>
                <key>sourceSize</key>
                <string>{88,67}</string>
            </dict>
            <key>global_gold_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,728},{109,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,65}}</string>
                <key>sourceSize</key>
                <string>{109,65}</string>
            </dict>
            <key>global_gold_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,520},{114,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,115}}</string>
                <key>sourceSize</key>
                <string>{114,115}</string>
            </dict>
            <key>global_head_circle02.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,728},{114,114}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{114,114}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>global_head_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,612},{114,114}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{114,114}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>global_huBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{478,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,86}}</string>
                <key>sourceSize</key>
                <string>{478,86}</string>
            </dict>
            <key>global_icon_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,864},{46,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,37}}</string>
                <key>sourceSize</key>
                <string>{46,37}</string>
            </dict>
            <key>global_icon_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,864},{46,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>global_icon_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,530},{182,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,47}}</string>
                <key>sourceSize</key>
                <string>{182,47}</string>
            </dict>
            <key>global_pop_titleBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{630,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{630,88}}</string>
                <key>sourceSize</key>
                <string>{630,88}</string>
            </dict>
            <key>global_rect_head_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,612},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>global_redPoint.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,458},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>global_rule_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,783},{29,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,41}}</string>
                <key>sourceSize</key>
                <string>{29,41}</string>
            </dict>
            <key>global_ruletab_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,722},{191,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,83}}</string>
                <key>sourceSize</key>
                <string>{191,83}</string>
            </dict>
            <key>global_ruletab_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,844},{158,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,66}}</string>
                <key>sourceSize</key>
                <string>{158,66}</string>
            </dict>
            <key>global_tab_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,458},{215,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,72}}</string>
                <key>sourceSize</key>
                <string>{215,72}</string>
            </dict>
            <key>global_tab_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,313},{215,70}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{215,70}}</string>
                <key>sourceSize</key>
                <string>{215,72}</string>
            </dict>
            <key>global_tab_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,384},{237,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,72}}</string>
                <key>sourceSize</key>
                <string>{237,72}</string>
            </dict>
            <key>global_tab_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,90},{221,70}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,2},{221,70}}</string>
                <key>sourceSize</key>
                <string>{237,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>global.png</string>
            <key>size</key>
            <string>{503,915}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b5108b4fc9fe650394b1aa3d3c5b7976:1/1$</string>
            <key>textureFileName</key>
            <string>global.png</string>
        </dict>
    </dict>
</plist>
