<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>loadding_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,27},{588,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{588,23}}</string>
                <key>sourceSize</key>
                <string>{588,23}</string>
            </dict>
            <key>loadding_bar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,2},{588,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{588,23}}</string>
                <key>sourceSize</key>
                <string>{588,23}</string>
            </dict>
            <key>loadding_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{568,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,235}}</string>
                <key>sourceSize</key>
                <string>{568,235}</string>
            </dict>
            <key>loading_bar_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,162},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,69}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>loading_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,52},{537,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{537,108}}</string>
                <key>sourceSize</key>
                <string>{537,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>loadding.png</string>
            <key>size</key>
            <string>{1162,239}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e1e54068d1ce7bba6a5a2ecff5c8ae40:1/1$</string>
            <key>textureFileName</key>
            <string>loadding.png</string>
        </dict>
    </dict>
</plist>
