<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>activity_bg_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{730,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{730,209}}</string>
                <key>sourceSize</key>
                <string>{732,211}</string>
            </dict>
            <key>activity_btn_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,2},{170,60}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{170,60}}</string>
                <key>sourceSize</key>
                <string>{180,88}</string>
            </dict>
            <key>activity_btn_selec.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,599},{180,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,88}}</string>
                <key>sourceSize</key>
                <string>{180,88}</string>
            </dict>
            <key>activity_pandent_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,2},{595,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{595,220}}</string>
                <key>sourceSize</key>
                <string>{595,220}</string>
            </dict>
            <key>activity_pandent_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,174},{79,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,137}}</string>
                <key>sourceSize</key>
                <string>{79,137}</string>
            </dict>
            <key>get_redpacket.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,734},{453,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{453,182}}</string>
                <key>sourceSize</key>
                <string>{453,182}</string>
            </dict>
            <key>get_redpacket_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,918},{425,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{425,85}}</string>
                <key>sourceSize</key>
                <string>{425,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>activity.png</string>
            <key>size</key>
            <string>{516,1005}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:31359544484c0a12b910cddb7bc4699d:1/1$</string>
            <key>textureFileName</key>
            <string>activity.png</string>
        </dict>
    </dict>
</plist>
